.rate{
  border: solid black 1px;
  width: 1000px;
  height:620px;
  margin-left: 10%;
}

.button{
  margin-left: 41%;
  margin-top: 1%;
}

#right{
  width: 50px;
}

#left{
  width: 50px;
}

#right:hover{
  transition: 1s;
  width:60px;
}

#left:hover{
  transition: 1s;
  width:60px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 80px;
    height: 60px;
    padding: 2px;
    font: 12px sans-serif;
    background-color: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
