.main{
  display: flex;
  flex-wrap: wrap;
  font-family: 'Noto Sans KR', sans-serif;
}

text{
  font-family: 'Noto Sans KR', sans-serif;
}

#title{
  margin-left: 23%;
  font-weight: bold;
  font-size: 24px;
}



.step{
  width: 60%;
  margin-top: 5%;
}

#textboxes {
  width: 40%;
  /* border: red 1px solid; */
  height: 100vh;
  overflow: scroll;
}

.box{
  margin-bottom: 71vh;
  padding:20px;

  /* border-top: 1px black solid; */
}

#right{
  width: 50px;
}

#left{
  width: 50px;
}

#right:hover{
  transition: 1s;
  width:60px;
}

#left:hover{
  transition: 1s;
  width:60px;
}

.button{
  margin-left: 42%;
}
