.main{
  display: flex;
  flex-wrap: wrap;
  font-family: 'Noto Sans KR', sans-serif;
}

text{
  font-family: 'Noto Sans KR', sans-serif;
}

#title{
  margin-left: 23%;
  font-weight: bold;
  font-size: 24px;
}



.step{
  width: 60%;
  margin-top: 5%;
}

#textboxes {
  width: 40%;
  /* border: red 1px solid; */
  height: 100vh;
  overflow: scroll;
}

.box{
  margin-bottom: 71vh;
  padding:20px;

  /* border-top: 1px black solid; */
}

#right{
  width: 50px;
}

#left{
  width: 50px;
}

#right:hover{
  transition: 1s;
  width:60px;
}

#left:hover{
  transition: 1s;
  width:60px;
}

.button{
  margin-left: 41%;
}

#back{
  position: relative;
  background-color: #edede9;
  /* opacity: 0.6; */
  color: black;
  width:100px;
  height:30px;
  bottom:21px;
  border:none;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;

}

#back:hover{
  cursor: pointer;
  background-color: #fbf1ec;
}
