#container{
  font-family: 'Noto Sans KR', sans-serif;
}
text{
  font-family: 'Noto Sans KR', sans-serif;
}

#title{
  margin-left: 19%;
  font-weight: bold;
  font-size: 24px;
}

.button{
  margin-left: 43%;
  /* margin-top:3%; */
}

#right{
  width: 50px;
}

#left{
  width: 50px;
  margin-top: 3%;
}

#right:hover{
  transition: 1s;
  width:60px;
}

#left:hover{
  transition: 1s;
  width:60px;
}

#back{
  position: relative;
  margin-left: 1%;
  width: 100px;
  height:38px;
  bottom:21px;
  border: none;
  background-color: red;
  border-radius: 5px;
  opacity: 0.8;
  color: white;
}
