#container{
  font-family: 'Noto Sans KR', sans-serif;
}
text{
  font-family: 'Noto Sans KR', sans-serif;
}

#title{
  margin-left: 19%;
  font-weight: bold;
  font-size: 24px;
}

.button{
  margin-left: 41%;
  /* margin-top:3%; */
}

#right{
  width: 50px;
}

#left{
  width: 50px;
  margin-top: 3%;
}

#right:hover{
  transition: 1s;
  width:60px;
}

#left:hover{
  transition: 1s;
  width:60px;
}

#back{
  position: relative;
  background-color: #edede9;
  /* opacity: 0.6; */
  color: black;
  width:100px;
  height:30px;
  bottom:21px;
  border:none;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;

}

#back:hover{
  cursor: pointer;
  background-color: #fbf1ec;
}
